<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  #a{
    height: 500px;
    background-color: aliceblue;
  }

  h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  p:nth-child(1){
    color: blue;
  }
</style>
<body>
  <div id="a">
    <h2 style="color: red;">Hello</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odio possimus distinctio recusandae neque dolorum nesciunt hic autem, magni commodi veritatis, culpa sint quae molestiae doloribus. Ratione libero accusamus nesciunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatibus totam, delectus nam qui quam voluptatem repudiandae excepturi, cupiditate sequi hic alias quo veritatis ipsam tempora neque. Tempore, vel quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus distinctio non quaerat error ut tempore perspiciatis deleniti repellendus? Fugiat reiciendis ipsa quod incidunt magni officia sapiente, architecto vero mollitia!</p>
  </div>
  
</body>
</html>